/* section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container {
    
    background-color: #9b987fb1;
    min-height: calc(100vh - 5.4rem);
}
.title {
    width: 100%;
    height: 60px;
    text-align: center;
    background-image: linear-gradient(to left, #e0dcb8, #39382f58);
    color: #7b7a6a;
}

.title h1 {
    padding: 10px;
}
article {
    margin: 20px;
    position: relative;
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 5px rgb(57, 57, 50);

}
.specialform {
    height: 100px;
}
.specialform button {
    top: 75%;
    left: 20%;
}
.specialform p {
    top: 60%;
}
.image {
height: 190px;
}
img {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;

    width: 300px;
    height: 190px;
}
.uploadedImage {
    object-fit:cover;
}
article h1 {
    font-size: 1rem;
    padding: 20px;
    text-align: center;
}
p {
    position: absolute;
    width: 100px;
    text-align: center;
    background-color: #434343;
    top: 58%;
    right: 10%;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
}

.info a {
    text-decoration: none;
    color: #a8a58a;
    font-weight: bold;
    font-size: 1rem;
}

.info {
    height: calc(300px - 190px);
    text-align: center;
}
button { 
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    border: 2px solid #333333;
    background-color: #333333;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    transition: 0.2s;
    top: 86%;
    font-size: 1.1rem;

}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
.paginator ::ng-deep .ngx-pagination {
    font-size: 20px;
}
.paginator ::ng-deep .ngx-pagination .current{
    background-color: rgb(42, 162, 241);
} */