.navbar-wrapper {
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    font-size: 20px;
    color: black;
    font-weight: 500;
}

.nav-buttons {
    display: flex;

}

.nav-button {
    border: none;
    color: black;
    padding: 4px 20px;
    background-color: brown;
    border-radius: 8px;
    cursor: pointer;
}

