.footer {
    background-color:  #e0dcb8;
    width: 100%;
    height: 2.4rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.footer p {
    padding: 0.5rem;
}