.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e0dcb8;
    min-height: 3rem;
}

.logo {
    background-image: url(../../assets/Logo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 75px;
    height: 75px;
}

h2 {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 10px;
    cursor: pointer;
}

span {
    color: red;
}

ul li a {
    text-decoration: none;
    color: #a8a58a;
    font-weight: bold;
    font-size: 1rem;
}

ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.5rem 1.4rem;
}

ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #ff008c;
    display: block;
    margin: auto;
    transition: .4s;
}

.active a{
    border-bottom: 2px solid #ff008c;
}

ul li:hover::after {
    width: 100%;
}

.auth a {
    cursor: pointer;
}
.dropbtn {
    background-color: #e0dcb8;
    color: #a8a58a;
    padding: 16px;
    font-weight: bold;
    font-size: 1rem;
    height: 3rem;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    font-style: italic;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #ff008c;
}


.icon {
    color: rgb(196, 188, 188);
    font-size: 20px;
    display: none;
}

.icon:hover {
    color: #e04b4b;
}

#logout {
    cursor: pointer;
}
.mobile, .authorization {
    display: none;
}
@media screen and (max-width:777px) {
    
    .main {
        display: none;
    }
    .view {
        display: flex;
    }
    .auth {
        display: none;
    }

    .icon {
        /* padding-top: 25px; */
        text-align: center;
        display: block;
    }

    .active {
        border-bottom: 0px solid #f44336;
    }

    .header {
        display: flex;
        justify-content: space-around;
    }

    .mobile {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 0.8rem;
        list-style-type: none;
    
    }
    .mobile a {
        color: white;
        padding: 1rem 2rem;
        text-align: center;
    }
    .authorization {
        display: block;
    }
    .authorization a{

        color: white;
        font-weight: bold;
        font-size: 1rem;
        list-style-type: none;
        margin: 10px;
        text-align: center;
    }
}
